[project]
	description = C in four functions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/qioixiy (qioixiy)
[access "refs/for/refs/*"]
	read = group user/qioixiy (qioixiy)
	push = group user/qioixiy (qioixiy)
	label-Code-Review = -2..+2 group user/qioixiy (qioixiy)
	label-Verified = -1..+1 group user/qioixiy (qioixiy)
	rebase = group user/qioixiy (qioixiy)
	removeReviewer = group user/qioixiy (qioixiy)
	submit = group user/qioixiy (qioixiy)
[access "refs/heads/*"]
	read = group user/qioixiy (qioixiy)
	create = group user/qioixiy (qioixiy)
	push = +force group user/qioixiy (qioixiy)
	pushMerge = group user/qioixiy (qioixiy)
[access "refs/tags/*"]
	push = group user/qioixiy (qioixiy)
	push = +force group user/qioixiy (qioixiy)
